// Colores personalizados
@import "colors";
// Fuentes Google
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
// mixin
@mixin sizes ($bcolor, $width, $mheight) {
    background-color: $bcolor;
    width: $width;
    min-height: $mheight;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

// Encabezado

header{
    .encabezado__barra{
        background-color: $color1;
        div{
            .barra__link--home{
                font-size: 40px;
                font-weight: 600;
            }
            div{
                ul{
                    .barra__link{
                        color: $color2;
                        font-size: 35px;
                        margin-left: 150px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

// Contenido principal

.main__index{
    width: 100%;
    background-image: url(../assets/images/pizza.jpg);
    background-position: center;
    background-size: 15%;
    background-repeat: round;
}

// Sección combo

.section__combos{
    @include sizes($color2, 100%, 700px);
    div{
        .section__combos--title{
            color: $color3;
            font-size: 40px;
            margin-top: 20px;
            &:hover{
                color: $color4;
            }
        }
        .section__card{
            background-color: $color1;
            margin-top: 60px;
        }
    }
}

// Sección nosotros

.main__nosotros{
    @include sizes($color2, 100%, 400px);
    .main__nosotros--title{
        padding-top: 50px;
        color: $color3;
        font-size: 40px;
        &:hover{
            color: $color4;
        }
    }
    .main__nosotros--card{
        background-color: $color2;
    }
}

.section__nosotros{
    background-image: linear-gradient($color2,$color1);
    width: 100%;
    min-height: 400px;
    div{
        div{
            .section__nosotros--img1{
                height: 100%;
                width: 60%;
            }
        }
        div{
            .section__nosotros--img2{
                // extend
                @extend .section__nosotros--img1;
            }
            .section__nosotros--img2:hover{
                width: 65%;
                transition: 2s;
            }
        }
    }
}

// Sección productos

.main__productos{
    @include sizes($color2, 100%, 1300px);
    .main__productos--title{
        color: $color3;
        &:hover{
            color: $color4;
        }
    }
    div{
        div{
            .main__producto--img:hover{
                transform: rotate(2deg);
                transition: all 1s;
            }
        }
        div{
            .main__producto--img2:hover{
                transform: rotate(-2deg);
                transition: all 1s;
            }
        }
    }
}

// Sección contacto
.main__contacto{
    @include sizes($color2, 100%, 800px);
    .main__contacto--title{
        color: $color3;
        font-size: 40px;
        margin: 30px;;
        text-align: center;
        &:hover{
            color: $color4;
        }
    }
    .main__contacto--form{
        background-color: $color1;
        border-radius: 20px;
        .main__contacto--subtitulo{
            font-size: 25px;
            font-weight: 600;
            text-align: center;
        }
        .main__contacto--subtitulo2{
            @extend .main__contacto--subtitulo;
            margin: 20px;
        }
        label{
            padding: 0;
            margin: 0;
            font-weight: 600;
        }
        input{
            margin-bottom: 10px;
        }
        .main__contacto--checkbox{
            margin-bottom: 5px;
        }
        .butt{
            margin-left: 100px;
            margin-top: 10px;
        }
    }
    .main__contacto--map{
        @extend .main__contacto--form;
        height: 600px;
    }
}

// pie de pagina

footer{
    ul{
        li{
            a{
                .footer__icon{
                    font-size: 30px;
                    color: $color5;
                }
                .footer__icon--1:hover{
                    color: $color6
                }
                .footer__icon--2:hover{
                    color: $color7
                }
                .footer__icon--3:hover{
                    color: $color8
                }
                .footer__icon--4:hover{
                    color: $color2
                }
            }
        }
    }
}